In [1]:
import sys
print(sys.version)

3.6.0 |Continuum Analytics, Inc.| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Data

In [3]:
data.head()

   index    area  bathrooms     price    sq_price
0      0  2104.0        3.0  399900.0  190.066540
1      1  1600.0        3.0  329900.0  206.187500
2      2  2400.0        3.0  369000.0  153.750000
3      3  1416.0        2.0  232000.0  163.841808
4      4  3000.0        4.0  539900.0  179.966667

In [9]:
data=data.drop(['index'], axis=1)

In [10]:
data.head()

     area  bathrooms     price    sq_price
0  2104.0        3.0  399900.0  190.066540
1  1600.0        3.0  329900.0  206.187500
2  2400.0        3.0  369000.0  153.750000
3  1416.0        2.0  232000.0  163.841808
4  3000.0        4.0  539900.0  179.966667

In [12]:
data=data.drop(['price','sq_price'], axis=1)

In [14]:
len(data)

47

In [16]:
## hyperparameters
learning_rate=0.000001
training_epochs=2000
display_step=50
n_samples=inputY.size

NameError: name 'inputY' is not defined

In [27]:
## Create computational graph
tf.placeholder(tf.float32,[None,2])
W=tf.Variable(tf.zeros([2,2])

b=tf.Variable(tf.zeros([2]))

y_values=tf.add(tf.matmul(x,W),b)
y=tf.nn.softmax(y_values)

SyntaxError: invalid syntax (<ipython-input-27-0c3483d810a3>, line 5)

In [31]:
## Performe traning and initialize variable
init=tf.global_variables_initializer()
sess=tf.Session()
sess.run(init)

In [ ]:
# training loop 
for i in range(training_epochs):
    sess.run(optimizer,feed_dict(x:inputm))
    # write logs of training